<mat-expansion-panel class="dashboard-item">
    <mat-expansion-panel-header>
        <div class="header">
            <div class="img-container">
                <img src="{{ playlist.images[0].url}}" alt="Cover for playlist: {{ playlist.name }}" >
            </div>
            <h3>{{ decodeHtml(playlist.name) }}</h3>
            <mat-panel-description class="description">
                {{ playlist.description ? decodeHtml(playlist.description) : "No description entered"}}
            </mat-panel-description>
        </div>
    </mat-expansion-panel-header>
    <div class="details">
        <div>
            <p>Playlist Created By: <a class="general-anchor" href="https://open.spotify.com/user/{{playlist.owner.id}}">{{ playlist.owner.display_name}}</a></p>
            <p>Track Count: {{ playlist.tracks.total }}</p>
        </div>
        <div>
            <a mat-flat-button class="action-buttons" aria-label="View playlist on Spotify" target="_blank" color="accent" href="https://open.spotify.com/playlist/{{playlist.id}}">
                View on Spotify
                <mat-icon>open_in_new</mat-icon>
            </a>
            <a *ngIf="!disabled" mat-flat-button disabled={{disabled}} class="action-buttons" aria-label="Convert to YouTube playlist" color="primary" href="{{apiUrl}}/{{playlist.id}}">
                Sync to YouTube
                <mat-icon>sync</mat-icon>
            </a>
            <button *ngIf="disabled" mat-flat-button disabled={{disabled}} class="action-buttons" aria-label="Convert to YouTube playlist" color="primary">
                Sync to YouTube
                <mat-icon>sync</mat-icon>
            </button>
            <button mat-flat-button class="action-buttons" aria-label="View playlist in more details">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
    </div>
</mat-expansion-panel>