<mat-expansion-panel class="dashboard-item">
    <mat-expansion-panel-header>
        <div class="header">
            <div class="img-container">
                <img src="{{ playlist.images[0].url}}" alt="Cover for playlist: {{ playlist.name }}" >
            </div>
            <h3>{{ decodeHtml(playlist.name) }}</h3>
            <mat-panel-description class="description">
                {{ playlist.description ? decodeHtml(playlist.description) : "No description entered"}}
            </mat-panel-description>
        </div>
    </mat-expansion-panel-header>
    <div>
        <p>Playlist Created By: <a href="https://open.spotify.com/user/{{playlist.owner.id}}">{{ playlist.owner.display_name}}</a></p>
        <p>Track Count: {{ playlist.tracks.total }}</p>
    </div>
</mat-expansion-panel>